<div class="well well-lg">
  <form novalidate>
    <div class="form-group">
      <label>Brand</label>
      <input type="text" class="form-control" ng-model="brand" required>
    </div>
    <div class="form-group">
      <label>Model</label>
      <input type="text" class="form-control" ng-model="model" required>
    </div>
    <div class="form-group">
      <label>Year</label>
      <input type="text" class="form-control" ng-model="year" required>
    </div>
    <div class="form-group">
      <label>Wheel Size</label>
      <input type="text" class="form-control" ng-model="wh_size" required>
    </div>
    <div class="form-group">
      <label>Travel</label>
      <input type="text" class="form-control" ng-model="travel" required>
    </div>
    <div class="form-group">
      <label>Head Tube Angle</label>
      <input type="text" class="form-control" ng-model="ht_ang" required>
    </div>
    <div class="form-group">
      <label>Wheel Base</label>
      <input type="text" class="form-control" ng-model="wh_base" required>
    </div>
    <div class="form-group">
      <label class="checkbox-inline">Full Suspension?</label>
      <input type="checkbox" ng-model="fs" required>
    </div>
    <button class="btn btn-primary" ng-click="submit()">Submit</button>
  </form>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div ng-repeat="bike in bikes">
      <h1>bike {{$index + 1}}</h1>
      <h3><strong>brand:</strong> {{bike.brand}}</h3>
      <h3><strong>model:</strong> {{bike.model}}</h3>
      <h3><strong>year:</strong> {{bike.year}}</h3>
      <p><strong>wheel size:</strong> {{bike.wh_size}}</p>
      <p><strong>_id:</strong> {{bike._id}}</p>
      <p><strong>bike id:</strong> {{bike.bike_id}}</p>
      <p><strong>fs:</strong> {{bike.fs}}</p>
      <p><strong>travel:</strong> {{bike.travel}}mm</p>
      <p><strong>head tube angle:</strong> {{bike.geo.ht_ang}}deg</p>
      <p><strong>wheel base:</strong> {{bike.geo.wh_base}}</p>
    </div>
  </div>
</div>

<div>New Bike Id Should be: {{newBikeId}}</div>
