.bike-details {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  .bike-detail {
    width: 20%;
    margin: 1em;
    .thumb {
      width: 90%;
      margin: 0 auto;
      height: auto;
    }
  }
}
