$large: 949px;
$tablet: 767px;

@mixin large {
  @media only screen and (max-width: #{$large}) {
    @content;
  }
}

@mixin medium {
  @media only screen and (max-width: #{$tablet}) {
    @content;
  }
}

.bike-details {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  .bike-detail {
    width: 22%;
    margin: 1em;
    @include large {
      width: 45%;
    }
    @include medium {
      width: 100%;
    }
  }
}

.thumb {
  width: 90%;
  margin: 0 auto;
  height: auto;
}
